
html, body {
  height: 100%;
  margin: 0;
}

.containerSign {
  background-color: black;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .textSign{
    font-size: 5em;
    color: white;
    font-weight: bold;
    font-family: "Miltonian Tattoo";
    text-align: center;
    margin-top: -1em;
  }
  
  .changeLogIn{
    text-align: center;
    font-family: "Miltonian Tattoo";
    font-size: 25px;
    font-weight: bold;
    margin-top: -2em;
  }
  
  .changeLogInText{
    color: white
  }

  .changeLogInText:hover{
    color: black;
    font-size: 28px;
  }
  
  .buttonSignUp {
    width: 12em;
    height: 3.5em;
    border: 3px solid black;
    border-radius: 4px;
    background-color: #efb810;
    font-family: "Miltonian Tattoo";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10em;
    margin-left: 2.35em;
    margin-top: 0.6em;
  
  }
  
  .buttonSignUp:hover {
    background-color: #efb71060;
  }
  
  .cardSign0{
    background-color: #efb710c4;
    width: 30em;
    height: 42em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4em;
  }
  
  .cardSign1{
    background-color: #efb710c4;
    width: 25em;
    height: 38em;
    border-radius: 4em;
  }
  
  .BiXIcon {
    color: #efb810;
    font-size: 5em;
    cursor: pointer;
    margin-left: 15em;
   margin-bottom: 1em;
  }
  
  
  .errorRedMsg {

    color: red;
    text-align: center;
    margin-bottom: 0.4em;
    margin-top: 0.3em;
  }
