.custom-footer {
  height: 73em;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  padding: 0.5px;
  
}

.containerInformationFooter {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  color: white;
  margin-bottom: 3em;
}

.Business,
.detailsFooter, .formFooter {
  font-size: 38px;
  font-weight: bold;
  font-family: "Miltonian Tattoo";
}

.formFooter{
  margin-left: 3.2em;
}

.detailsFooter{
  margin-top: 1.7em;
}

.footer-column1 {
  margin-left: 10em;
  margin-right: 8em;
  line-height: 2em;
}
.footer-column1 ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 21px;
}

.footer-column2 {
  font-size: 22px;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 4px;
}

.footer-column3{
  margin-right: 8em;
}

.inputFooter{
    width: 13em;
    height: 3.5em;
}

.commentFooter{
    margin-bottom: 5em;
}

.footerBottomText{
  font-size: 15px;
  text-align: center;
}

.submitFooter{
  width: 12em;
  height: 2.5em;
  font-size: 18px;
  border-radius: 7px;
 background-color: #efb810;
 border: 2px solid black;
 color: white;
 margin-left: 7.5em;
 font-weight: bold;

}

.submitFooter:hover{
  background-color: #efb710b0;
  color: black;
}

.titleFooter {
  font-family: "Miltonian Tattoo";
  font-size: 50px;
  text-align: center;
  margin-top: 1em;
  letter-spacing: 0.4em;
  font-weight: bold;
  color: white;
}

.lineContactTop{
  width: 100%;
  text-align: center;
  font-size: 68px;
  position: relative; 

}

.lineContactTop:before {
  content: "";
  width: 100%;
  border-bottom: solid 15px #efb810;
  position: absolute;
  top: 0; 
  left: 0;
  z-index: 1; /
}

.footer-column {
  flex: 1;
  margin: 0 2em; /* Agregamos el margen entre columnas */
}

.footer-column h4 {
  border-bottom: 1px solid white;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column input,
.footer-column textarea,
.footer-column button {
  width: 100%;
  margin-bottom: 10px;
} 

.formRow{
  display: flex;
  justify-content: space-between ;
}

.footerBottom{
  width: 35em;
  height: 6em;
  margin-left: 45em;
  color: white;
  
}

.lineContactBottom {
  width: 90%;
  height: 10px;
  text-align: center;
  font-size: 28px;
  position: relative;
  margin-top: 1em;
  margin-left: 3em;
}

.lineContactBottom:before {
  content: "";
  width: 100%;
  border-bottom: solid 5px white;
  position: absolute;
  left: 0;
  z-index: 1;
}

.successMessage{
  background-color: #efb810;
  color: black; 
  padding: 10px; 
  margin-top: 10px; 
  border-radius: 5px; 
  text-align: center; 
  font-weight: bold; 
  font-size: 1.2em;
  display: inline-block; 
  width: 9em;
  margin-left: 7.7em;
  font-family: "Miltonian Tattoo";
  border: 2px solid white;
}